<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter photo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
        .btn-btn {
          background-color: #38A89D;
          text-align: center;
          text-decoration: none;
          color: white;
          padding: 10px ;
          border-radius: 7px;
          margin-bottom: 5px; 
        }
        .btn-btn:hover{
          background-color: black;
        }
        </style>
</head>
<body class="m-5">

    <div class="container ">

        <div class="row justify-content-center" >
            <div class="col-md-4">
                <a href="{% url 'galerie' %}" class="btn-btn "> Retour </a>

                <div class="card mt-5">

                
                    <form method="POST" action="" enctype="multipart/form-data">
                        
                        {% csrf_token %}

                        <div class="form-group m-3">
                            <label>Description </label>
                            <input required name="description" class="form-control" type="text" placeholder="Entrer une description ">
                        </div>

                        <div class="form-group m-3">
                            <label>Selectionner une categorie </label>
                            <select name="categorie" class="form-control">
                                <option value="none">Selectionner une categorie...</option>
                                {% for categorie in categories %}
                                <option value="{{categorie.id}}"> {{categorie.name}} </option>
                                {% endfor %}
                            </select>
                        </div>


                        <div class="form-group m-3">
                            <label>Creer votre categorie </label>
                            <input  name="nouvelle_categorie" class="form-control" type="text" placeholder="Creer une nouvelle categorie ">
                        </div>

                        <div class="form-group m-3">
                            <label>Ajouter une image </label>
                            <input required name="image" class="form-control" type="file">
                        </div>

                        <button type="submit" class="btn btn-primary m-3">Ajouter</button>

                    </form>

                </div>
            </div>

        </div>

    </div>
    
</body>
</html>
