<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
    .btn-btn {
      background-color: #38A89D;
      text-align: center;
      text-decoration: none;
      color: white;
      padding: 10px ;
      border-radius: 7px;
      margin-bottom: 5px; 
    }
    .btn-btn:hover{
      background-color: black;
    }
    </style>
</head>


<body class="m-5">
    <div class="container">
       
        <div class="row justify-content-center">
            <div class="col">

                <a href="{% url 'galerie' %}" class="btn-btn  my-3"> Retour </a>
                <a href="{% url 'supprimer_photo' photo.id %}" class="btn-btn btn-sm m-1"> supprimer</a>
                <div style="height: 90vh;">
                    <img style="max-width: 100%; max-height: 100%;"
                    src="{{ photo.image.url }}" class="mt-5"> 
                    <p> 
                       <strong>Description :</strong>  {{ photo.description }}
                    </p>

                </div>
            </div>
        </div> 

    </div>
    
</body>
</html>